html,
body{height:100%}
body{background:#61999e;font-family:'Maven Pro',tahoma;font-weight: 400;font-size:14px;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;overflow-x:hidden;color:#ffffff;padding:0 10px}
a{color:#e36d48;text-decoration:none;font-family:'Maven Pro',tahoma;font-weight: 400;font-size:14px;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;overflow-x:hidden;}
b,
strong{font-family:'Maven Pro',tahoma;font-weight: 700;font-size:14px;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;overflow-x:hidden;}
img{max-width:100%}
.homepage{min-height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;padding:32px 0}
.page-home .wrapper{padding:0 20px}
.wrapper{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:970px;margin:0 auto;position:relative}
.head-line{background:#1d2120;position:absolute;width:100%;min-height:52px;top:0;left:-10px;padding:0px 10px;margin-bottom:-33px;}
.headline-title{padding:7px 0;max-width:680px;font:13px "Open Sans Bold"}
.headline-footer{top:auto;bottom:0;text-align:center}
.headline-footer .headline-title{padding:0;max-width:none}
.headline-footer .to-top{color:#ffffff;text-decoration:none;display:inline-block;line-height:32px;padding:10px 10px}
.logo-header{background:url("/images/logo_header.png") 0 0 no-repeat;width:276px;height:247px;position:absolute;z-index:1;right:39px;top:0}
.logo-main{background:url("/images/logo_text.png") 0 0 no-repeat;width:397px;height:71px;float:left;text-indent:-9999px;margin-top:38px}
.logo-text{font:24px "Open Sans Bold";color:#ffffff;text-decoration:none;float:left;margin:52px 0 0 55px}
.logo-text b{color:#e36d48}
.header-main{height:167px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative}
.header-main .wrapper{height:100%}
.main{position:relative;z-index:5;min-height:200px;padding-bottom:25px}
.box{float:left;width:24%;margin:0 1.33% 10px 0;font-size:14px;font-family:"Open Sans Semibold";-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;overflow:hidden}
.box .link-see-more{background:none repeat scroll 0 0 #ddd;color:#222;display:block;font-size:0.9em;padding:5px 0;text-align:center}
.box-site_wrap{background:#fff;height:150px}
.box_title{background:#333333;font:12px/20px "Open Sans Bold";padding:8px;text-transform:uppercase;text-align:center}
.box_wrap{background:#fff;height:385px;overflow:auto}
.box_list{padding:10px 10px 10px 15px}
.box_list_item{list-style-type:decimal;margin:0 0 9px 15px;color:#666;position:relative}
.box_list_item .preview-icon{top:50%;margin-top:-8px;display:none}
.type-icon{top:50%;padding-right:25px;float:right}
.type-icon-site{display:inline-block;height:16px;width:16px}
.box_list_item:hover .preview-icon{display:block}
.box_list_item img{display:inline-block;vertical-align:middle;width:16px;height:16px;padding-right:2px;margin-top: -4px;}
.box_list_item a{color:#333333;text-decoration:none;display:inline-block;font-size:0.9em;}
.box_list_item a:hover{text-decoration:underline}
.box_list_item:empty{display:none}
.box:nth-child(4n),
.box--last{margin-right:0}
.box-collection{font-size:0;overflow:hidden}
.bookmark{background:url("/images/logo_gray.png") 97% 10px no-repeat;float:right;width:72%;min-height:350px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:105px 275px 30px 0;position:relative}
.bookmark .site-name{position:absolute;right:0;bottom:0;color:#fff;text-decoration:none;font-size:18px}
.bookmark_note{font:24px/32px "Open Sans Semibold"}
.bookmark_note span{position:relative;display:inline-block;padding-right:25px}
.bookmark_note span:after{background-image:url("/images/icons.png");background-position:0 -20px;width:10px;height:10px;position:absolute;right:0;top:0;content:""}
.bookmark_description{font-size:18px;font-style:italic;margin-top:20px;padding-left:12px;position:relative}
.bookmark_description:before{background-image:url("/images/icons.png");background-position:0 -20px;width:10px;height:10px;position:absolute;left:0;top:2px;content:""}
.article-item--single{margin-top:20px}
.article-item_title{background:#333333;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;font:23px/42px "Open Sans Bold";padding:0 20px 0 30px;text-transform:uppercase;position:relative;display:inline-block;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.article-item_title--review{padding-left:80px}
.article-item_title--review:before{background-image:url("/images/icons.png");background-position:-20px 0;position:absolute;content:"";width:65px;height:64px;left:4px;top:50%;margin-top:-32px}
.article-item_title .back-link{float:right;color:#ffffff;text-decoration:none;font-size:16px;position:relative;padding-left:30px;line-height:42px;margin-left:10px}
.article-item_title .back-link:before{background-image:url("/images/icons.png");background-position:0 -40px;position:absolute;content:"";width:18px;height:22px;left:0;top:50%;margin-top:-11px}
.article-item_title .back-link--home{padding-left:40px}
.article-item_title .back-link--home:before{background-position:-90px 0;width:32px;height:28px;margin-top:-14px}
.article-item_content{background:#262626;padding:25px 30px 25px 25px;overflow:hidden;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
.article-item--single .article-item_content{padding-left:35px}
.article-item + .article-item{margin-top:30px}
.site-preview{border:3px solid #cecece;margin-bottom:10px}
.site-preview_header{max-height:44px;position:relative;font-size:0}
.site-preview_header .sitename{position:absolute;left:105px;top:50%;margin-top:-7px;font-size:12px;color:#000}
.site-preview_header .sitename img{width:16px;height:16px;display:inline-block;vertical-align:middle}
.site-preview_header .sitetype{position:absolute;left:330px;top:50%;margin-top:-7px;font-size:12px;color:#000}
.site-preview_header .sitetype img{width:16px;height:16px;display:inline-block;vertical-align:middle}
.site-preview_body{font-size:0;position:relative}
.site-preview_body img{width:100%}
.site-preview-wrap{float:left;width:466px;text-align:center}
.site-preview-wrap .site-visit{font-size:30px;font-family:"Open Sans ExtraBold"}
.site-description{float:right;width:400px;color:#b2b2b2}
.site-description_title{font-size:38px;font-family:"Open Sans ExtraBold";color:#e36d48}
.site-description_title a{text-decoration:none}
.site-description_link{font-size:16px;font-family:"Open Sans Light";text-decoration:none;color:#8c8c8c}
.site-description_link a{text-decoration:none;color:#999999}
.site-description_excerpt{margin-top:15px}
.site-description_excerpt p{margin-bottom:15px}
.site-description_features{margin-top:22px}
.site-description_features_title{font-size:18px;font-family:"Open Sans Bold";margin-bottom:10px}
.site-description .features-list{margin-left:20px}
.site-description .features-list li{font-family:"Open Sans Semibold";padding-left:25px;position:relative;list-style-type:none}
.site-description .features-list li:before{background-image:url("/images/icons.png");background-position:0 -30px;width:12px;height:10px;content:"";position:absolute;left:0;top:2px}
.site-description .features-list li + li{margin-top:5px}
.recomended-list{font-size:0}
.recomended-list_item{display:inline-block;width:22%;margin-right:4%;margin-top:2%}
.recomended-list_item:nth-child(4n){margin-right:0}
.recomended-list_item_header{height:26px;position:relative;padding:5px 18px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-align:center;color:#b2b2b2;font-family:"Open Sans Semibold";font-size:14px}
.recomended-list_item_header .small{position:absolute;left:0;width:16px;height:16px;top:5px}
.recomended-list_item_header a{text-decoration:none}
.recomended-list_item_header a:hover{text-decoration:underline}
.recomended-list_item_preview{display:block}
.preview-icon{background-image:url("/images/icons.png");background-position:0 0;width:16px;height:16px;position:absolute;right:0;top:5px}
.btn{background:#fde76c;background:-moz-linear-gradient(top, #fde76c 0%, #fc8f02 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fde76c), color-stop(100%, #fc8f02));background:-webkit-linear-gradient(top, #fde76c 0%, #fc8f02 100%);background:-o-linear-gradient(top, #fde76c 0%, #fc8f02 100%);background:-ms-linear-gradient(top, #fde76c 0%, #fc8f02 100%);background:linear-gradient(to bottom, #fde76c 0%, #fc8f02 100%);padding:15px 20px;display:inline-block;-webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.3) inset, 2px 3px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 1px rgba(255, 255, 255, 0.3) inset, 2px 3px 5px rgba(0, 0, 0, 0.2);box-shadow:0 1px 1px rgba(255, 255, 255, 0.3) inset, 2px 3px 5px rgba(0, 0, 0, 0.2);color:#000000;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-family:"Open Sans Light";text-transform:uppercase}
.btn:hover{background:#fc8f02;background:-moz-linear-gradient(top, #fc8f02 0%, #fde76c 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc8f02), color-stop(100%, #fde76c));background:-webkit-linear-gradient(top, #fc8f02 0%, #fde76c 100%);background:-o-linear-gradient(top, #fc8f02 0%, #fde76c 100%);background:-ms-linear-gradient(top, #fc8f02 0%, #fde76c 100%);background:linear-gradient(to bottom, #fc8f02 0%, #fde76c 100%)}
.btn--more span{display:block;font:28px/28px "Open Sans Bold"}
.btn--more b{font-family:"Open Sans Semibold"}
.footer-main{text-align:center}
.footer-main p + p{margin-top:10px}
.footer-main .wrapper{background:url(" ") 0 0 repeat-x;padding:30px 24px 20px}
.breadcrumbs{padding:0 0 25px 0}
.sitemap a.main-link{padding:5px 0 5px 0;font:18px "Open Sans Bold"}
.sitemap a.category-link{padding:5px 0 5px 10px;font:16px "Open Sans Semibold"}
.sitemap a.site-link{padding:5px 0 5px 20px;font:14px "Open Sans"}
.link b{background:none repeat scroll 0 0 yellow}
@media only screen and (max-width:980px){.logo-text{display:none}
.site-preview-wrap{width:51%}
.site-preview-wrap .sitename{left:25%}
.site-description{width:47%}
}
@media only screen and (max-width:880px){.headline-title{max-width:70%}
.site-preview-wrap .sitename{left:23%}
.site-preview-wrap .sitename img{height:14px;width:14px}
.site-preview-wrap .site-visit{font-size:24px}
.article-item_title{font-size:24px}
}
@media only screen and (max-width:769px){.box{width:32%;margin-right:2% !important}
.box:nth-child(3n){margin-right:0 !important}
.bookmark{width:100%}
.site-preview-wrap{width:55%}
.site-description{width:42%}
.site-description_title{font-size:26px}
.article-item_content{padding:30px 20px 20px}
.article-item--single .article-item_content{padding-left:20px}
.article-item_title{font-size:22px}
}
@media only screen and (max-width:760px){.recomended-list_item{width:48%;margin-bottom:15px}
.recomended-list_item:nth-child(2n){margin-right:0}
}
@media only screen and (max-width:720px){.homepage{padding-top:0}
.bookmark{display:none}
.logo-header{display:none}
.head-line{display:none}
.headline-footer{display:block}
.header-main{height:auto}
.logo-main{margin:15px auto 40px;float:none;display:block}
.page-home .logo-main{margin-bottom:20px}
.btn--more span{font-size:20px;line-height:20px}
}
@media only screen and (max-width:640px){.logo-main{height:50px;width:280px;background-size:100% !important;float:none;display:block;margin:15px auto}
.box{width:49%;margin-right:2% !important}
.box:nth-child(3n){margin-right:2% !important}
.box:nth-child(2n){margin-right:0 !important}
.site-preview-wrap{float:none;width:100%;max-width:460px;margin:0 auto}
.site-preview-wrap .site-visit{font-size:18px}
.site-description{margin:0;float:none;width:100%;margin-bottom:25px}
.article-item_title{font-size:14px;padding:10px;line-height:20px}
.article-item_title .back-link{font-size:11px;line-height:normal}
.article-item_title--review:before{content:none}
}
@media only screen and (max-width:481px){.homepage .wrapper{padding-left:0;padding-right:0}
.page-home .wrapper{padding-left:0;padding-right:0}
.site-description_title{font-size:22px}
.site-description_features_title{font-size:16px}
.site-description .features-list{margin-left:10px}
.site-description_link{font-size:14px;margin-top:5px}
.btn{font-size:12px}
.btn--more span{font-size:16px}
}
@media only screen and (max-width:420px){.copyright{font-size:12px}
.box{width:100%;float:none;margin-right:0 !important}
.box:nth-child(3n){margin-right:0 !important}
.box:nth-child(2n){margin-right:0 !important}
.article-item_content{padding:25px 15px 20px}
.article-item--single .article-item_content{padding-left:15px}
.article-item_title{font-size:12px}
.article-item_title .back-link{font-size:10px}
.site-preview-wrap .sitename{font-size:9px;margin-top:-5px}
.site-preview-wrap .sitename img{height:9px;width:9px}
.site-preview-wrap .site-visit{font-size:16px}
.recomended-list_item{width:100%;margin-right:0 !important;margin-bottom:15px}
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5){.logo-header,
.footer-main .wrapper{background:url(" ") 0 0 repeat-x;background-size:8px 4px}
.bookmark_note span:before,
.bookmark_description span:before,
.article-item_title:before,
.article-item_title .back-link:before,
.recomended-list_item_header .preview-icon,
}

.category-h2{font:23px/42px "Open Sans Bold"}
.button-toppage{background:url("/images/btn_top.png") 0 0 no-repeat;position:fixed;bottom:20px;right:20px;width:60px;height:60px;cursor:pointer;opacity:0;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;z-index:10}
.button-toppage.show{opacity:1}
*{margin:0;padding:0;border:0;outline:0;line-height:120%}
._centered{text-align:center}